<!DOCTYPE html>
<html>
<head>
	<title>Media Server</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.jpg')}}">
	<style>
		.media-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80vh;
		}
		.media-container img,
    .media-container video {
			max-width: 100%;
			max-height: 100%;
		}
		
		.navigation-buttons {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
		}

		.navigation-buttons button {
		margin: 0 0.5rem;
		padding: 0.5rem 1rem;
		font-size: 1rem;
		}
	</style>
</head>
<body>
	<h1>Media server</h1>

	<div class="media-container" id="mediaContainer"></div>
	
	<div class="navigation-buttons">
		<button id="previousButton">Previous</button>
		<button id="nextButton">Next</button>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
	<script src="{{ url_for('static', filename='app.js')}}"></script>
</body>
</html>