<!DOCTYPE html>
<head>
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.jpg')}}">
    <link href="{{url_for('static', filename='fonts/fontawesome-free-6.4.0-web/css/fontawesome.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='fonts/fontawesome-free-6.4.0-web/css/brands.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='fonts/fontawesome-free-6.4.0-web/css/solid.css')}}" rel="stylesheet">
</head>
<body>
    <div class="col-20">
        <h1>test</h1><button id="galleryButton">Gallery</button>
    </div>
    <div class="col-03 filebar">
        <ul>
            {% for item in dir_list %}
                {% if item.type == "file" %}
                    <li class="file"><a href="/f{{item.fp_obj}}">{{item.name}}</a></li>
                {% elif item.type == "dir" %}
                    <li class="folder"><a href="/f{{item.fp_obj}}">{{item.name}}/</a></li>
                {% else %}
                    <li><a href="/f{{ file_path }}/{{item.name}}">Unknown: {{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-15 filediv">
        {% for item in dir_list %}
            {% if item.type == "file" %}
                <div class="col-05">
                    {% if item.media == "image" %}
                        <img src="/f{{item.fp_obj}}">
                    {% elif item.media == "video" %}
                        <video controls>
                            <source src="/f{{item.fp_obj}}">
                        </video>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='gallery.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
</body>