<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <style>
        .gallery {
            z-index: 30;
            padding: 50px;
            position: fixed;
            height: 100%;
            max-height: 100vh;
            overflow-y: scroll;
        }

        .galleryViewport {
            padding: 50px;
        }
    </style>
</head>
<body>
    <div class="col-20">
        <h1>test</h1><button id="galleryButton">Gallery</button>
    </div>
    <div class="col-03">
        <ul>
            {% for item in item_list %}
                {% if item.type == "file" %}
                    <li><a href="/file{{item.fp_obj}}">File: {{item.name}} Path: {{item.path}}</a></li>
                {% elif item.type == "dir" %}
                    <li><a href="/index{{item.fp_obj}}">Folder: {{item.name}} Path: {{item.path}}</a></li>
                {% else %}
                    <li><a href="/index{{ file_path }}/{{item.name}}">Unknown: {{ item.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-15">
        {% for item in item_list %}
            {% if item.type == "file" %}
                <div class="col-05">
                    {% if item.media == "image" %}
                        <img src="/file{{item.fp_obj}}">
                    {% elif item.media == "video" %}
                        <video controls>
                            <source src="/file{{item.fp_obj}}">
                        </video>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        var gallery;
        const galleryButton = document.getElementById('galleryButton')
        galleryButton.addEventListener('click', showGallery)

        document.body.addEventListener('click', function(event) {
            console.log("document click")
            console.log(event.target)
            if (event.target.id == 'galleryViewport') {
                console.log("galleryViewport click")
                removeGallery();
            };
        });

        async function showGallery() {
            const gallery = document.createElement('div');
            gallery.classList.add('gallery');
            gallery.setAttribute('id', 'gallery')
            document.body.appendChild(gallery);

            const galleryViewport = document.createElement('div');
            galleryViewport.classList.add('galleryViewport');
            galleryViewport.setAttribute('id', 'galleryViewport')
            gallery.appendChild(galleryViewport);

            const image = document.createElement('img');
            image.src = "https://pbs.twimg.com/media/FyZvrQBakAATt5Z?format=jpg&name=large";
            image.classList.add('galleryImage');
            image.setAttribute('id', 'galleryImage')
            galleryViewport.appendChild(image);

            // galleryViewport.addEventListener('click',removeGallery(gallery))
            // galleryViewport.addEventListener('click',console.log("viewport click"))
        }

        function removeGallery() {
            console.log("removing gallery");
            gallery = document.getElementById('gallery');
            gallery.remove();
        }
    </script>
</body>